
        <% include ../parcial/header.ejs %>

        <nav class="menuPrincipal">
            <h2 id="titulo">Menu Livros</h2>
            <ul>
                <li><a href="/">Login</a></li>                    
                <li><a href="/index">Menu Principal</a></li>
                <li><a href="#">Cadastrar Editoras</a></li>                    
                <li><a href="#">Listar Editoras</a></li>
                <li><a href="#">Autores</a></li> 
                <li><a href="#">Livros</a></li>                 
            </ul>                
        </nav>

        <% include ../parcial/footer.ejs %>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>

</html>
